<div id="landing">
    <script>$(document).ready(function(){
              $("#down").click(function(){
                $("#blog").slideto({
                  highlight: false
                });
              });
              $(".upper").click(function(){
                $("#header").slideto({
                  highlight: false
                });
              });
            });
    </script>

  <section id="hello">
    <h1>Hugo Marinho</h1>
    <p>
      I'm a developer from Portugal who started toying early on with graphic tools and small scale programming, which naturally evolved into a passion for web development.
    </p>
    <p>
      Currently I'm finishing my studies at Universidade do Minho. There I met a crazy bunch with whom I helped create <a href="http://www.groupbuddies.com/">Group Buddies</a>, a web development company where I work as a Software Engineer.
    </p>
    <p>  
     I'm an avid practitioner of Taekwondo and whenever I'm by the countryside, I roam the dirt roads on my faithful mountain bike.
    </p>
    <span>
      <a href="http://linkedin.com/in/hugompmarinho" ><img src="images/linkedin_brown.png" alt="Linkedin Profile" /></a>
    </span>
  </section>
</div>
<section id="articles">
  <section id="blog">
  </section>
  <section id="arrow" class="upper">
    <a href="#" title="Back to Top"><img src="/images/up-arrow.png" alt="Back to Top" /></a>
  </section>
  <section id="title">
    <h1>Blog</h1>
  </section>
  <% for article in articles[0...3] %>
    <article class="post">
      <header>
        <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
        <span class="date"><%= article.date %></span>
      </header>
      <section class="content">
        <%= article.summary %>
      </section>
      <% if config[:karakuri] %>      
        <% require 'karakuri' %>
      <span class="tags">
        <%= Karakuri::tag_link_list(article[:tags])  %>
      </span><% 10.times { }%>
      <% end %>
      <section class="upper">
        <a href="#" title="Back to Top">Λ</a>
      </section>
      <div class="more">
        <a href="<%= article.path %>" title="Read on and comment" >read on &raquo;</a>
      </div>
    </article>
  <% end %>
</section>
<section class="archives">
  <%= archives[3..-1] %>
  <a href="/archives">all posts »</a>
</section>

