<div id="landing">
    <script>$(document).ready(function(){
              $("#down").click(function(){
                $("#blog").slideto({
                  highlight: false
                });
              });
              $(".upper").click(function(){
                $("#header").slideto({
                  highlight: false
                });
              });
            });
    </script>

  <section id="hello">
    <p>
      Senior Backend Developer at <a href="http://www.freeletics.com/">Freeletics</a>
    </p>
    <span>
      <a href="https://github.com/v0rph" ><img src="images/github_brown.png" alt="Github Profile" /></a>
      <a href="https://linkedin.com/in/hugompmarinho" ><img src="images/linkedin_brown.png" alt="Linkedin Profile" /></a>
    </span>
  </section>
</div>
<% unless config[:disable_blog] %>
<section id="articles">
  <section id="blog">
  </section>
  <section id="arrow" class="upper">
    <a href="#" title="Back to Top"><img src="/images/up-arrow.png" alt="Back to Top" /></a>
  </section>
  <section id="title">
    <h1>Blog</h1>
  </section>
  <% for article in articles[0...3] %>
    <article class="post">
      <header>
        <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
        <span class="date"><%= article.date %></span>
      </header>
      <section class="content">
        <%= article.summary %>
      </section>
      <% if config[:karakuri] %>
        <% require 'karakuri' %>
      <span class="tags">
        <%= Karakuri::tag_link_list(article[:tags])  %>
      </span><% 10.times { }%>
      <% end %>
      <section class="upper">
        <a href="#" title="Back to Top">Λ</a>
      </section>
      <div class="more">
        <a href="<%= article.path %>" title="Read on and comment" >read on &raquo;</a>
      </div>
    </article>
  <% end %>
</section>
<section class="archives">
  <%= archives[3..-1] %>
  <a href="/archives">all posts »</a>
</section>
<% end %>

