<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="js/jquery.slideto.min.js" type="text/javascript"></script>
    <script>$(document).ready(function(){
              $("#down").click(function(){
                $("#blog").slideto({
                  highlight: false
                });
              });
              $(".upper").click(function(){
                $("#header").slideto({
                  highlight: false
                });
              });
            });
    </script>
  </head>
  <body>
    <div id=header>
      
    </div>
    <div id=nav>
      <section id="logo">
        <h1>hugomarinho.com</h1>
      </section>
      <ul>
        <li <%= ' class="active"' if @path == 'index' %>>
          <a href="/">Home</a>
        </li>
        <li <%= ' class="active"' if @path == 'archive' %>>
          <a href="/archives">Archives</a>
        </li>
        <li id="down">
          <a href="/#blog" >Blog</a>
        </li>
        <li <%= ' class="active"' if @path == 'about' %>>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
    <div id=content>
      <section>
        <%= yield %> 
      </section>
      <footer>
        powered by <a href="http://cloudhead.io/toto">toto</a>
      </footer>
    </div> 
  </body>
</html>

