<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title><%= title %></title>
    <meta name="description" content="Personal Blog of Hugo Marinho" />
    <meta property="og:image" content="http://www.hugomarinho.com/images/logo-face-min.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="22" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="js/jquery.slideto.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <script>
        document.createElement("header");
        document.createElement("hgroup");
        document.createElement("section");
        document.createElement("footer");
        document.createElement("article");
    </script>   
  </head>
  <body>
    <div class="wrapper">
    <div id=header>
      
    </div>
    <div id=nav>
      <section id="logo">
        <a href="http://www.hugomarinho.com"><h1>hugomarinho.com</h1></a>
      </section>
      <ul>
        <li <%= ' class="active"' if @path == 'index' %>>
          <a href="/">Home</a>
        </li>
        <li id="down">
          <a href="/#blog" >Blog</a>
        </li>
        <li <%= ' class="active"' if @path == 'archive' %>>
          <a href="/archives">Archives</a>
        </li>
        <li <%= ' class="active"' if @path == 'contact' %>>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
      <section>
        <%= yield %> 
      </section>
    <div class="push"></div>
    </div>
    <div class="footer">
      <footer>
        <p>powered by <a href="http://cloudhead.io/toto">toto</a></p>
        <p>Copyright © 2012 Hugo Marinho</p>
      </footer>
    </div> 
  </body>
</html>
  

